.container{
    border: solid;
    border-color: purple;
    display:flex;
    flex-wrap:wrap;
    flex-grow: 0;
    flex-shrink: 0;
    width: 960px;
    height: auto;
}

.divChild{
    height: 50px;
    width: calc(100% * (1/16));
    box-sizing: border-box;
    border: solid;
    border-color: red;
}

body{
    display:flex;
    justify-content: space-around;
}